# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environment
/.env
/venv

# IDEs
/.idea
/.vscode

# Runs
/experiments

# File types
*.zip
.DS_Store

# Other folders
cams
/png_export*
